In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import math

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('merged_clean_ver2.csv')
data

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,44060,FL,M,1158.437751,392,430,466,520,21975,28.000000,100.0
1,96093,IL,M,537.000000,365,415,410,473,19387,5.666667,7.0
2,43333,FL,F,725.000000,301,340,361,436,18837,4.111111,5.0
3,21885,NC,M,1158.437751,401,407,399,413,14014,27.277778,38.0
4,190108,FL,F,995.000000,252,280,316,348,17991,6.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...
3988,66762,MI,F,632.000000,279,336,339,388,12653,8.533333,5.0
3989,6443,FL,M,595.000000,252,263,262,274,11132,14.692308,20.0
3990,151175,CA,F,2707.000000,507,504,538,537,16165,12.117647,22.0
3991,151504,CA,M,2666.000000,535,609,612,653,24745,12.333333,21.0
3992,74303,MI,M,444.000000,225,264,269,299,10088,17.142857,25.0